html,body
{
    /* height: 100%; */
}
.layout
{
    min-width: 300px;
    max-width: 640px;
    margin: 0 auto;
    background-color: #fff;
    height: 100%;
    position: relative;
}
.jd_category_top
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.jd_category_top > .title
{
    line-height: 44px;
    text-align: center;
    font-size: 18px;
    font-weight: bolder;
}

.content
{
    height: 100%;
    width: 100%;
    margin-top: 44px;
    margin-bottom: 44px;
    /* padding-bottom: 44px; */
    overflow: hidden;
}
.content .swiper-wrapper
{
    height: 400px;
}
.content .swiper-wrapper img
{
    width: 100%;
    height: 100%;
}
.content .price
{
    padding: 10px 20px;
    background:linear-gradient(90deg,#ff7f4e,#ff3131);
}
.content .price .nowPrice
{
    color: white;
    font: bold;
    font-size: 24px;
    margin-right: 20px;
}
.content .price .nowPrice .number
{
    font-style: normal;
    font-size: 40px;
    font-weight: bold;
    position: relative;
}
.content .price .oldPrice
{
    color: #666;
    text-decoration: line-through;
    font-size: 14px;
}
.content .describe
{
    display: flex;
    height: 60px;
    background-color: #f7f7f7;
}
.content .describe>.describtion
{
    flex: 5;
    font-size: 18px;
    padding:9px;
    overflow: hidden;
    position: relative;
    line-height: 20px;
    word-break: break-all;
    word-wrap: break-word;
}
.content .describe>.describtion::after
{
    content: "..";
    position: absolute;
    bottom: 10px;
    right: 3px;
}
.content .describe>.describtion>span
{
    text-indent: 2em;
    overflow: hidden;
    display: inline-block;
    height: 42px;
}
.content .describe>.collection
{
    flex: 1;
    line-height: 30px;
    text-align: center;
    border-left: 1px solid #ccc;
    font-size: 14px;
}
.content .describe>.collection>.icon_like
{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../img/focus-icon.png") no-repeat;
    background-size: 100px 100px;
    vertical-align: bottom;
}
.content .describe>.noLike>.icon_like
{
    background-position: 0 0;
}
.content .describe>.Like>.icon_like
{
    background-position: 0 -25px;
}

.content>.shop
{
    background-color: #f7f7f7;
    margin: 20px 0;
}
.content>.shop>.shopTitle
{
    padding: 0 10px;
    font-size: 22px;
    font-weight: bold;
} 
.content>.shop>.shopMessage
{
    margin: 10px 0;
    display: flex;
}
.shopMessage>.shopFans,.shopMessage>.shopGoods
{
    flex: 1;
    text-align: center;
}
.shopMessage>.shopFans
{
    border-right: 1px solid black;
    /* margin-left: -10px; */
}
.content>.shop>.shopOption
{
    padding: 0 10px;
    text-align: center;
}
.content>.shop>.shopOption>a:first-of-type
{
    float: left;
}
.content>.shop>.shopOption>a:nth-of-type(2)
{
    float: right;
}
.content>.shop>.shopOption button
{
    width: 180px;
    height: 25px;
    line-height: 25px;
}

.bottom
{
    height: 44px;
    line-height: 44px;
    background-color:yellow;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background: url("../img/header-bg.png") repeat-x;
    background-size: 1px 44px;

    display: flex;
}
.bottom > .smallLink
{
    flex: .4;
    display: inline-block;
    font-size: 12px;
    text-align: center;
}
.bottom > .addCart , .bottom > .buyNow
{
    color: white;
    font-weight: bold;
    flex: 1;
    outline: none;
    border: none;
}
.bottom > .addCart
{
    background-color: #ff9600;
}
.bottom > .buyNow
{
    background-color: #e4393c;
}